<header class="w-full max-w-[1440px] mx-auto p-8 flex justify-between items-center">
    <img src="/logo.svg" alt="Logo Infojobs"  class="w-auto h-[30px]"/>
  
    <a  class="text-lg font-semibold bg-primary hover:saturate-0 text-white rounded-full py-2 px-4" href="#">Crea tu cuenta</a>
</header>
